/.vs/Invoicing.Solution/DesignTimeBuild/.dtbcache.v2
/.vs/Invoicing.Solution/FileContentIndex/08a36358-a8bb-407d-b673-c489c1fe3631.vsidx
/.vs/Invoicing.Solution/FileContentIndex/43a4b881-c90c-45fc-b1bc-1cea0cf1fee8.vsidx
/.vs/Invoicing.Solution/FileContentIndex/8cb01541-2a7e-4e58-a36f-82de2adcec75.vsidx
/.vs/Invoicing.Solution/FileContentIndex/f78421f0-202c-4132-af23-f57cb920dcee.vsidx
/.vs/Invoicing.Solution/FileContentIndex/fdaf15b6-6888-4139-ba34-008976dd37c2.vsidx
/.vs/Invoicing.Solution/v17/.suo
/Invoicing.AccessData/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Invoicing.AccessData/obj/Debug/net8.0/Invoicing.AccessData.AssemblyInfo.cs
/Invoicing.AccessData/obj/Debug/net8.0/Invoicing.AccessData.AssemblyInfoInputs.cache
/Invoicing.AccessData/obj/Debug/net8.0/Invoicing.AccessData.assets.cache
/Invoicing.AccessData/obj/Debug/net8.0/Invoicing.AccessData.csproj.AssemblyReference.cache
/Invoicing.AccessData/obj/Debug/net8.0/Invoicing.AccessData.GeneratedMSBuildEditorConfig.editorconfig
/Invoicing.AccessData/obj/Debug/net8.0/Invoicing.AccessData.GlobalUsings.g.cs
/Invoicing.AccessData/obj/Invoicing.AccessData.csproj.nuget.dgspec.json
/Invoicing.AccessData/obj/Invoicing.AccessData.csproj.nuget.g.props
/Invoicing.AccessData/obj/Invoicing.AccessData.csproj.nuget.g.targets
/Invoicing.AccessData/obj/project.assets.json
/Invoicing.AccessData/obj/project.nuget.cache
/Invoicing.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Invoicing.Api/obj/Debug/net8.0/Invoicing.Api.AssemblyInfo.cs
/Invoicing.Api/obj/Debug/net8.0/Invoicing.Api.AssemblyInfoInputs.cache
/Invoicing.Api/obj/Debug/net8.0/Invoicing.Api.assets.cache
/Invoicing.Api/obj/Debug/net8.0/Invoicing.Api.csproj.AssemblyReference.cache
/Invoicing.Api/obj/Debug/net8.0/Invoicing.Api.GeneratedMSBuildEditorConfig.editorconfig
/Invoicing.Api/obj/Debug/net8.0/Invoicing.Api.GlobalUsings.g.cs
/Invoicing.Api/obj/Invoicing.Api.csproj.nuget.dgspec.json
/Invoicing.Api/obj/Invoicing.Api.csproj.nuget.g.props
/Invoicing.Api/obj/Invoicing.Api.csproj.nuget.g.targets
/Invoicing.Api/obj/project.assets.json
/Invoicing.Api/obj/project.nuget.cache
/Invoicing.Core/bin/Debug/net8.0/Invoicing.Core.deps.json
/Invoicing.Core/bin/Debug/net8.0/Invoicing.Core.dll
/Invoicing.Core/bin/Debug/net8.0/Invoicing.Core.pdb
/Invoicing.Core/bin/Debug/net8.0/Invoicing.Core.runtimeconfig.json
/Invoicing.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.AssemblyInfo.cs
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.AssemblyInfoInputs.cache
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.assets.cache
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.csproj.AssemblyReference.cache
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.csproj.BuildWithSkipAnalyzers
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.csproj.CoreCompileInputs.cache
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.csproj.FileListAbsolute.txt
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.dll
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.GeneratedMSBuildEditorConfig.editorconfig
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.genruntimeconfig.cache
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.GlobalUsings.g.cs
/Invoicing.Core/obj/Debug/net8.0/Invoicing.Core.pdb
/Invoicing.Core/obj/Debug/net8.0/ref/Invoicing.Core.dll
/Invoicing.Core/obj/Debug/net8.0/refint/Invoicing.Core.dll
/Invoicing.Core/obj/Invoicing.Core.csproj.nuget.dgspec.json
/Invoicing.Core/obj/Invoicing.Core.csproj.nuget.g.props
/Invoicing.Core/obj/Invoicing.Core.csproj.nuget.g.targets
/Invoicing.Core/obj/project.assets.json
/Invoicing.Core/obj/project.nuget.cache
/Invoicing.DTOObjects/bin/Debug/net8.0/Invoicing.DTOObjects.deps.json
/Invoicing.DTOObjects/bin/Debug/net8.0/Invoicing.DTOObjects.dll
/Invoicing.DTOObjects/bin/Debug/net8.0/Invoicing.DTOObjects.pdb
/Invoicing.DTOObjects/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.AssemblyInfo.cs
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.AssemblyInfoInputs.cache
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.assets.cache
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.csproj.CoreCompileInputs.cache
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.csproj.FileListAbsolute.txt
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.dll
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.GeneratedMSBuildEditorConfig.editorconfig
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.GlobalUsings.g.cs
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.pdb
/Invoicing.DTOObjects/obj/Debug/net8.0/Invoicing.DTOObjects.sourcelink.json
/Invoicing.DTOObjects/obj/Debug/net8.0/ref/Invoicing.DTOObjects.dll
/Invoicing.DTOObjects/obj/Debug/net8.0/refint/Invoicing.DTOObjects.dll
/Invoicing.DTOObjects/obj/Invoicing.DTOObjects.csproj.nuget.dgspec.json
/Invoicing.DTOObjects/obj/Invoicing.DTOObjects.csproj.nuget.g.props
/Invoicing.DTOObjects/obj/Invoicing.DTOObjects.csproj.nuget.g.targets
/Invoicing.DTOObjects/obj/project.assets.json
/Invoicing.DTOObjects/obj/project.nuget.cache
/.vs/Invoicing.Solution/config/applicationhost.config
/.vs/Invoicing.Solution/FileContentIndex/411bd784-38e2-498f-b576-40e24a43c676.vsidx
/.vs/Invoicing.Solution/FileContentIndex/73f8c15f-d7b4-4ec4-a94f-f34083c11cc9.vsidx
/.vs/Invoicing.Solution/FileContentIndex/a8da7655-e4ca-4178-bb6c-c449db06dddd.vsidx
/.vs/Invoicing.Solution/FileContentIndex/f7f4a3d1-652f-4b4c-9de5-16bb1eae6c4d.vsidx
/Invoicing.AccessData/bin/Debug/net8.0/Invoicing.AccessData.deps.json
/Invoicing.AccessData/bin/Debug/net8.0/Invoicing.AccessData.dll
/Invoicing.AccessData/bin/Debug/net8.0/Invoicing.AccessData.pdb
/Invoicing.AccessData/bin/Debug/net8.0/Invoicing.AccessData.runtimeconfig.json
/Invoicing.AccessData/bin/Debug/net8.0/Invoicing.DTOObjects.dll
/Invoicing.AccessData/bin/Debug/net8.0/Invoicing.DTOObjects.pdb
